p.teaser {
    text-indent: 30px; 
}

/* BUTTON */
.btn-flat {
    border-radius: 0px!important;
}

/* PANEL */
.panel {
    border-radius: 0px!important;
}

.panel-heading {
    background-color: #fff!important;
}

/* TABLE */
table th {
    color: #9aa0ac;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}


/* NAVBAR */

a.logo:hover,
a.sidebar-toggle:hover,
a.sidebar-toggle:active,
a.sidebar-toggle:visited {
    text-decoration: none!important;
}